/*work sens font from google*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap') ;

  * {

     font-family: "Work Sans", sans-serif;
   
}
.title{
    font-size:  2.8 rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    background: #ff900e;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    
}
.description {
    color: #727272;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav> ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a { 
    text-decoration: none;
    color: #424242;
} 
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 600;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}


/*    main section syles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 20px 140px;
}
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    
}
.feature-content {
    padding-right: 70px;
    padding-left: 70px;
}
.features-title {
    font-size: 2.8rem;
}
.features-title .our {
    font-weight: 700;
    color: rgb(35, 73, 73);
}
.features-title .feature {
    color: #ff900e;
    font-weight: 700;
}



/*fact styles */
.fact-container {
    margin-top: 50px;
}

.fact-content {
    margin-left: 100px;
}
.record {
    display: flex;
    justify-content: space-around;
    margin: 20px 140px;
}

.record .item {
    border: 1px solid rgb(167, 145, 141);
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 5px 5px lightblue;
}
.item {
    text-align: center;
}
.sponsor-container {
    margin-top: 50px;
}


.sponsor-content  {
    text-align: center;
}

.sponsor-partner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    
}


/* footer styles */
footer {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    text-align: center;
    margin: 0 100px 100px 100px;
}



/*for respnsive styles */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    nav, .feature-container ,.sponsor-partner, .record{
        flex-direction: column;
    }
    .feature-img {
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content {
        padding-right: 20px;
        padding-left: 20px;
    }
    .sponsor-partner, .record{
        row-gap: 50px;
    }
    footer {
        background-color: rgba(255, 144, 14, 0.10);
        padding: 5px;
        text-align: center;
        margin:auto;
}
}


 @media screen and (min-width:576px) and (max-width:992px){
    header {
        padding: 50px;
     }
     nav, .feature-container , .sponsor-partner, .record{
         flex-direction: column;
 
     }
     .sponsor-partner, .record{
        row-gap: 50px;
    }
    .sponsor-container {
       margin-left: 50px;
    }
    
 }
